---
http_interactions:
- request:
    method: post
    uri: https://api.mercadopago.com/v1/advanced_payments?access_token=APP_USR-4401258639222046-052215-93e61747e6f50210577e169b695cd277-438050834
    body:
      encoding: UTF-8
      string: ! '{"application_id":"4401258639222046","notification_url":"https://9af20ad2.ngrok.io/inbound","payer":{"email":"test_user_p@testuser.com","first_name":"Amanda","last_name":"Martins","identification":{"type":"CPF","number":"30539945005"}},"payments":[{"payment_type_id":"credit_card","payment_method_id":"visa","token":"3e2f1ddccaadec80a568e7d2021fc153","transaction_amount":130.0,"installments":1,"processing_mode":"aggregator","description":"Service
        charge","external_reference":"extPayment","statement_descriptor":"WWW.MktSplitterMLBTEST.COM.BR"}],"disbursements":[{"amount":130.0,"external_reference":"ext1","collector_id":438055858,"application_fee":1.0,"additional_info":{"items":[{"id":"item-ID-1234","title":"Item
        Title","description":"Item description","picture_url":"https://some_image.jpg","category_id":"art","quantity":1,"unit_price":130.0}]}}],"binary_mode":true}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"error":"bad_request","message":"Error post payments in v1 Invalid
        card_token_id","status":400,"cause":[{}]}'
  recorded_at: Wed, 26 Jun 2019 13:53:00 GMT
recorded_with: VCR 5.0.0
