---
http_interactions:
- request:
    method: get
    uri: https://api.mercadopago.com/v1/advanced_payments/61737083?access_token=APP_USR-INVALID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"error":"unauthorized","message":"Invalid access token.","status":401,"cause":[{"code":401000,"description":"Invalid
        access token.","data":null}]}'
  recorded_at: Tue, 25 Jun 2019 13:24:47 GMT
recorded_with: VCR 5.0.0
