---
http_interactions:
- request:
    method: post
    uri: https://api.mercadopago.com/v1/advanced_payments/61846355/disbursements/4866496363/refunds?access_token=APP_USR-4401258639222046-052215-93e61747e6f50210577e169b695cd277-438050834
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"error":"bad_request","message":"cannot set status refunded","status":400,"cause":[{}]}'
  recorded_at: Wed, 26 Jun 2019 20:13:11 GMT
recorded_with: VCR 5.0.0
