---
http_interactions:
- request:
    method: post
    uri: https://api.mercadopago.com/v1/advanced_payments/617371500101/refunds?access_token=APP_USR-4401258639222046-052215-93e61747e6f50210577e169b695cd277-438050834
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"error":"not_found","message":"Advanced payment not found","status":404,"cause":[{"code":404002,"description":"Advanced
        payment not found","data":null}]}'
  recorded_at: Mon, 30 Sep 2019 14:16:37 GMT
recorded_with: VCR 5.0.0
